* {
  transition: all 0.5s ease-out;
}
.random-bird {
  display: flex;
  padding: 1rem;
  margin-bottom: 25px;
}

.bird-image {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  margin: 0px 10px 0px 0px;
}
.random-bird > div {
  width: calc(100% - 240px);
  margin: 0;
}

@media only screen and (max-width: 425px) {
  .random-bird {
    flex-direction: column;
  }
  .random-bird > div {
    width: 100%;
  }
}
